---
const links = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "Pokédex",
    href: "/pokemons/1",
  },
  {
    label: "Favorites",
    href: "/favorites",
  },
  {
    label: "Islands",
    href: "/islands",
  },
];

const currentPath = Astro.url.pathname;
---

<nav class="bg-white border-b-4 border-black mb-8 pb-1 pt-1">
  <div
    class="container flex items-center justify-center p-4 mx-auto text-black uppercase"
  >
    {
      links.map(({ href, label }) => (
        <div class="relative flex items-center justify-center">
          {currentPath === href && (
            <span
              class="absolute left-2.5 bottom-1  text-xl"
              transition:name="nav-pointer"
            >
              ▶
            </span>
          )}
          <a
            class="text-black mx-4 sm:mx-8 hover:underline decoration-4 underline-offset-[6px]"
            href={href}
          >
            {label}
          </a>
        </div>
      ))
    }
  </div>
</nav>
