---
import Counter from "../components/Counter";
import PokemonCard from "../components/pokemon/PokemonCard.astro";
import Title from "../components/shared/Title.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../layouts/MainLayout.astro";

const res = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await res.json()) as PokemonListResponse;
---

<MainLayout title="Pokémon static list | Home">
  <Title>Pokemon List</Title>
  <div class="retro-dialog mb-8 p-2">
    <video
      controls
      autoplay
      muted
      transition:persist="media-player"
      class="w-full h-full aspect-video object-contain"
    >
      <source
        src="https://archive.org/download/PokemonRed_209/PokemonRed_209_HQ_part01.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <section
    aria-label="pokemon list"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 mt-5 gap-4"
  >
    {
      data.results.map((data) => (
        <PokemonCard name={data.name} url={data.url} />
      ))
    }
  </section>

  <Counter
    client:visible
    transition:persist="counter"
    transition:persist-props
    initialValue={30}
  />
</MainLayout>
