---
import PokemonCard from "../components/pokemon/PokemonCard.astro";
import Title from "../components/shared/Title.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../layouts/MainLayout.astro";

const res = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await res.json()) as PokemonListResponse;
---

<MainLayout title="Pokémon static list | Home">
  <Title>Pokemon List</Title>
  <section
    aria-label="pokemon list"
    class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 mt-5 gap-4"
  >
    {
      data.results.map((data) => (
        <PokemonCard name={data.name} url={data.url} />
      ))
    }
  </section>
</MainLayout>
