---
import Counter from "../../components/Counter";
import Title from "../../components/shared/Title.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Islands">
  <Title> Islands </Title>
  <video
    controls
    autoplay
    muted
    transition:persist="media-player"
    class="w-full h-[634px]"
  >
    <source
      src="https://archive.org/download/PokemonRed_209/PokemonRed_209_HQ_part01.mp4"
      type="video/mp4"
    />
  </video>
  <Counter
    client:visible
    transition:persist="counter"
    transition:persist-props
    initialValue={10}
  />
</MainLayout>
